<!-- Formulario Registro -->
<div class="lt-row row">
{{ form_ajax('onRegister', {class: 'lt-col col s12 formDate'}) }}
    <div class="input-field col m6 s12">
      <i class="material-icons prefix">account_circle</i>
      <label for="name">Nombres</label>
      <input type="text" class="form-control validate" id="nombres" name="name" placeholder="Nombres" required>
    </div>
    <div class="input-field col m6 s12">
      <i class="material-icons prefix">account_circle</i>
      <label for="surname">Apellidos</label>
      <input type="text" class="form-control validate" id="apellidos" name="surname" placeholder="Apellidos" required>
    </div>
    <div class="input-field col m6 s12">
      <i class="material-icons prefix">fingerprint</i>
      <label for="rut">Rut</label>
      <input placeholder="12345678-1" type="text" class="form-control validate" name="rut" id="rut" required>      
    </div>
    <div class="input-field col m6 s12">
      <i class="material-icons prefix">cake</i>
      <label for="fecha_nacimiento" class="form-control active validate">Fecha de Nacimiento</label>
      <input type="date" class="datepicker fecha_nacimiento" name="fecha_nacimiento" required>      
    </div>
    <div class="input-field col m6 s12">
      <i class="material-icons prefix">email</i>
      <label for="email">Email</label>
      <input type="email" class="form-control validate" id="email" name="email" required data-request="onCheckEmail" data-track-input="2">      
    </div>
    <div class="input-field col m6 s12">
      <label class="active">Sexo</label>
      <select name="sexo" required>
        <option value="" disabled selected>-- Seleccione --</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
      </select>      
    </div>
    <div class="input-field col m6 s12">
      <i class="material-icons prefix">lock_outline</i>
      <label for="password" >Contrase&ntilde;a</label>
      <input type="password" class="validate" id="password" name="password" required>      
    </div>
    <div class="input-field col m6 s12">
      <i class="material-icons prefix">lock_outline</i>
      <label for="password_confirmation" >Repetir Contrase&ntilde;a</label>
      <input type="password" class="validate" id="password_confirmation" name="password_confirmation" required>
    </div>
  <div class="lt-row row">
    <div class="lt-col col s12 btn-group">      
      <button type="submit" class="waves-effect waves-light btn btn-block pull-right" data-attach-loading><i class="material-icons right">send</i>Registrarse</button>
      <button type="button" class="waves-effect waves-light btn btn-block red iniciarSesion"><i class="material-icons left">backspace</i>Volver</button>
    </div>
  </div>
{{ form_close() }}
</div>
