<!-- Formulario Login -->
<div class="lt-row row">
    <div class="lt-col col s12 center-align">
      <i class="material-icons large">account_circle</i>
    </div>
</div>
<div class="lt-row row">
<form
    data-request="cuentaUsuario::onSignin" class="lt-col col s12">
    <div class="input-field">
      <i class="material-icons prefix">email</i>
      <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
      <input
          name="login"
          type="email"
          class="form-control"
          id="userSigninLogin"
          placeholder="Ingrese su {{ loginAttributeLabel|lower }}" required/>
    </div>
    <div class="input-field">
      <i class="material-icons prefix">lock_outline</i>
      <label for="userSigninPassword">Contrase&ntilde;a</label>
      <input
          name="password"
          type="password"
          class="form-control"
          id="userSigninPassword"
          placeholder="Ingrese contrase&ntilde;a" required/>
    </div>
  <div class="lt-row row">
    <div class="lt-col col s12 btn-group">      
      <button type="submit" class="waves-effect waves-light btn btn-block pull-right" data-attach-loading><i class="material-icons right">send</i>Iniciar Sesi&oacute;n</button>
    </div>
    <div class="lt-col col s12">
      <span class="pull-right" style="display: inline-block; padding: 1rem 0;">No tienes una cuenta aún? <a href="javascript:;" class="registrarse"><i class="material-icons right">navigate_next</i> Registrarse</a></span>
    </div>
  </div>
</form>
</div>