.avatarUsuario {
    position: relative;
    margin: 0 auto;
    display: table;
}

.avatarUsuario > #uploadAvatar {
    position: absolute;
    bottom: 15px;
    right: 5px;
    height: 30px;
    cursor: pointer !important;
    background-color: rgba(0,0,0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 5px 0 0;
}

.avatarUsuario > #uploadAvatar #cambiarImagen:hover{
    text-decoration: underline;
    cursor: pointer !important;
    
}

#toast-container {
  top: auto !important;
  right: 5% !important;
  bottom: 10%; 
}

p.flash-message {
    top: auto !important;
    bottom: 5% !important;
}